.navbar {
  background-color: white;
  color: #ffffff; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Arial", sans-serif;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;

  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo img {
      height: 30px;
    }
  }

  .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      margin-bottom: 0px;

      .nav-item {
        text-decoration: none;
        color: #0e123a;
        padding: 0.5rem 1rem;
        transition: color 0.3s;
        font-size: 16px;
        font-weight: bold;

        &:hover {
          color: #ff9100;
        }
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        list-style: none;
        margin: 0;
        padding: 0.5rem 0;
        z-index: 999;
        width: 240px;

        li {
          padding: 0.5rem 1rem;

          a {
            text-decoration: none;
            color: #0e123a;
            transition: background 0.3s;
            white-space: nowrap;

            &:hover {
              color: #ff9100;
              text-decoration: none;
            }
          }
        }
      }

      &:hover .dropdown-menu {
        display: block;
      }
    }
  }

  .request-demo {
    background: #0e123a;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    padding: 14px 18px;
    width: 200px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s;

    &:hover {
      background: #0b0b0b;
    }
  }
}

.demo {
  margin-left: 120px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
    position: relative;

    .navbar-container {
      flex-direction: column;
      align-items: flex-start;

      .logo img {
        font-size: 30px;
      }
    }

    .demo {
      margin-left: 0px;
    }

    .nav-links {
      display: none;
      flex-direction: column; 
      width: 100%; 
      background-color: white;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

      &.open {
        display: flex;
        height: 100vh;
      }

      li {
        width: 100%; 
        border-bottom: 1px solid #f1f1f1; 

        .nav-item {
          padding: 1rem;
          text-align: left;
        }
      }

      .request-demo {
        width: 80%;
        text-align: center;
        padding: 12px 0;
        margin-top: 10px; 
        background: #0e123a;
        color: #ffffff;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 18px;
        margin-left: 30px;

        &.open {
          display: block;
        }
      }

      .dropdown-menu {
        position: static;
        display: none;

        &.open {
          display: block;
          margin-top: 0.5rem;
          padding: 0.5rem 0;
          text-decoration: none;
        }

        li {
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 25px;
    cursor: pointer;
    margin-left: auto;
    margin-top: -30px;

    span {
      display: block;
      height: 3px;
      background: #0e123a;
    }
  }
}
