.testimonial-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 20px;
  margin-top: 20px;

  .testimonial-card {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    border-radius: 10px;
    text-align: left;
    background: linear-gradient(145deg, #2e3545, #434d63);
    padding: 30px;
    .img-card {
      display: flex;
    }
    .h-card {
      display: flex;
      justify-content: space-between;
    }
    .profile-image {
      border-radius: 50%;
      margin-right: 1.5rem;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    .testimonial-content {
      h3 {
        font-size: 30px;
        font-weight: 300;
        margin: 0;
      }

      .title {
        color: white;
        margin: 0.5rem 0;
      }

      .stars {
        color: #ffd700;
        margin: 0.5rem 0;
      }

      h4 {
        margin: 0.5rem 0;
        font-size: 20px;
        font-weight: bold;
      }

      p {
        font-size: 20px;
        line-height: 1.4;
      }
    }
  }

  .navigation {
    display: flex;
    justify-content: right;

    button {
      background: none;
      border: none;
      color: #fff;
      font-size: 1.8rem;
      cursor: pointer;

      &:hover {
        color: #ffc107;
      }
    }
  }
  button {
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background: #ff9800;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #fff;
      color: #1c2230;
      border: 1px solid #1c2230;
    }
  }
  /* Mobile View */
  @media (max-width: 768px) {
    .testimonial-card {
      max-width: 100%; /* Full width for mobile view */
      padding: 15px;
      flex-direction: column;
      .img-card {
        display: flex;
        flex-direction: column;
      }
      .profile-image {
        width: 60px; /* Smaller profile image */
        height: 60px;
      }

      .testimonial-content {
        h3 {
          font-size: 20px; /* Further reduce font size */
        }

        h4 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    .navigation {
      display: none;
      visibility: hidden;
    }
  }

  @media (max-width: 480px) {
    .testimonial-card {
      padding: 10px;
    }

    .navigation {
      gap: 5px;
    }
  }
}
